@import url(https://fonts.googleapis.com/css?family=Slabo+27px);

html {
  height: 100%;
}

body {
  height: 100%;
  background-image: url("img/light-bg1.png");
  text-align: center;
  font-family: 'Slabo 27px', serif;
}

.guess{
  font-size: 2em;
  display: block;
  margin: 0 auto 1em;
}

.btn {
  font-size: inherit;
  color: white;
  background-color: purple;
  text-decoration: none;
  padding: 1em;
  margin-bottom: 1.5em;
  display: inline-block;
}

.title {
font-size: 5em;
}

.trophy {
  height: 40vmin;
}